body {
    background-color:black;
}h3{
    font-size: 50px;
    color:orangered;
    font-family: 'Literata', cursive;
    text-align: center;
}
table tr{
    border:solid black 5px;
}
.container {
    background-image:url("../image/Orange.jpg");
    background-repeat: no-repeat;
    background-size: 2000px;
}
h1 {
    color:orangered;
    font-style: italic;
    text-align: center;
    font-size:70px;
    font-family: 'Literata', serif;
}
p {
    margin-left: 20px;
    margin-right: 30px;
    font-size:20px;
    font-family: 'Literata', serif;
}
.card >table {
    border: 2px solid black;
}
.card >table >th {
    border: 2px solid black;
}
.link {
    text-align: center;
    font-size: 30px;
}
sh1 {
    text-align: center;
    font-size: 90px;
}
.button {
    text-align: center;
}
label{
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', ;
}
legend{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input{
    font-size: 20px;
    margin-left: 10px;
    font-family: 'serif', sans-serif;
}
#Result{
    font-size:30px;
    color: brown;
    text-align: center;
}
#Results,#fName{
    font-size: 40px;
    color:black;
    text-align: center;
    font-family: 'serif',Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    font-size: 15px;
    text-align: center;}